@import "tailwindcss";
@theme {
  --color-light: #f5f6fa;
  --color-lightGray: #fafbfd;
  --color-deepBlue: #0d2d5c;
  --color-lightBlue: #1c3c6c;
  --font-poppins: "Poppins", sans-serif;
}
@layer utilities {
  .table-item {
    @apply flex justify-between mb-4 gap-x-4 items-center;
  }
  .toggle-btn {
    @apply transition-colors duration-300  text-gray-500 border border-gray-500 px-4 py-1 rounded-full capitalize cursor-pointer font-medium;
  }
}
/* styles.css */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll.showScollbar::-webkit-scrollbar-thumb {
  background-color: #cfd0d1;
  border-radius: 4px;
}

.custom-scroll.showScollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b3b5b6;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
